#Container{
margin-left:10%;
}

p{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: inherit;
}

#Title{
    font-size: 30px;
    margin: auto;
}

#FileExtra, #FilesList, #CurrentPath, #back, #Search{
    border:solid 2px black;
}

#FilesList tr:nth-child(even){background-color: #888;}
#FilesList tr:nth-child(odd){background-color: #bbb;}

#FilesList, #FileExtra{
    empty-cells: hide;
    margin:0;
    font-size:20px;
}

.result{
    border-spacing: 0;
    width:100px;
}

.t0{
    padding:0;
    margin:0;
}
/*
#CurrentPath{

} 
*//*
#back{

}
*/

#Errors{
    margin:0 auto;
}

#errorText{
    color:#d00;
}

Video{
    outline:none; 
    width:100%; 
    height:100%;
}

#adminArea{
    background-color: #bbb;
    border: 1px solid #000;
    display:inline-block;
}

#SaveResult, #EditorBack, #EditorSave{
    margin-left:10px;
    margin-right:10px;
}

#DialogBox{
    max-width:600px; 
	display:none;
	position: absolute;
	border: 1px solid #000;
	background-color:#ddd;
	padding:10px;
	z-index:10;
	border-radius:5px;
}

.AdminOptions{
    margin:0;
}

/*
.ManageButtons{
    
}
*/

#closePopup{
    float:right;
    margin:0;
    padding:0 3px 0 2px;
    margin-bottom:3px;
    border: 1px solid #000;
    background-color:#888;
}

.accountAreaTitles{
    font-size:20px;
}

#sessionRemovalTitle{
    font-size:17px;
}